@import "/public/assets/style/variables";

.imagesList {
  width: 100%;
  overflow-y: auto;
  padding: 20px 0 5px 0;
  @include display-flex-wrap(flex, center, wrap);

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 3px;
  }

  .imagesBlock {
    height: 100px;
    margin: 8px;

    img {
      width: 110px;
      height: 100px;
      object-fit: cover;
      border-radius: 8px;
      box-shadow: 0 0 16px -3px rgba(0,0,0,0.75);
    }
  }
}
